<h1>Password reset</h1>

<p>To reset your password please click the link below:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire withing the next hour</p>

<p>
	if you did not request yoour password to be reset, Please ignore the email and your password will remain unchanged. 
</p>